$gray-100: #c2c3cf;

@media screen and (min-width: 1400px) {
  
}

@media screen and (max-width: 1440px) {
 
}

@media screen and (max-width: 1199px) {
  
}

@media screen and (max-width: 1024px) {
  
}

@media screen and (max-width: 991px) {
 
}

@media screen and (max-width: 767px) {
  footer{
    .desc{
      font-size: 16px;
    }
    .links-wrapper {
      max-width: 100%;
      margin-top: 32px;
      a{
        font-size: 16px;
      }
      h5{
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 8px;
      }
      p{
        margin-bottom: 12px;
      }
    }
  }
}

@media screen and (max-width: 575px) {
  footer{
    padding-top: 32px;
    .main-footer{
      padding-bottom: 12px;
    }
    .desc{
      margin: 12px 0 16px;
      font-size: 14px;
      line-height: 20px;
    }
    .links-wrapper {
      h5{
        font-size: 16px;
        line-height: 28px;
      }
      a{
        font-size: 14px;
        line-height: 20px;
      }
    }
    .social-icons{
      img{
        height: 24px;
        width: 24px;
        margin-right: 16px;
      }
    }
    .footer-logo{
      height: 32px;
      width: auto;
    }
    .copyright-footer{
      p{
        font-size: 12px;
        line-height: 18px;
      }
    }
  }
}

@media screen and (max-width: 475px) {
  
}
