@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// $grid-gutter-width: 2rem;
$text-muted: #B3B3B3;
@import "../bootstrap/scss/bootstrap";
@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/variables";

$primary: #1d0a5b;
$white: #ffffff;
$black: #000000;
$gray: #757575;
$light-gray: #e3e3e3;
$light-gray-50: #f5f5f5;
$light-gray-100: #edecf0;
$light-gray-200: #EAEAEA;
$light-gray-300: #B3B3B3;
$light-gray-400: #999999;
$dark-gray: #343437;
$poppins: "Poppins", serif;
$inter: "Inter", serif;
$theme-colors: (
  "primary": $primary,
);

// Bootstrap and its default variables
@import "../bootstrap/scss/bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $inter;
  overflow-x: hidden;
}
button {
  border: 0;
  outline: 0;
  background-color: transparent;
  &:focus-visible {
    outline: 0;
    box-shadow: none !important;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  vertical-align: sub;
}

ul {
  list-style: none;
}

.container {
  max-width: 1232px;
  padding: 0 16px;
}

// Button Style
.btn {
  border-radius: 8px;
  line-height: 1;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;
  width: fit-content;
  min-width: fit-content;
  img {
    height: 24px;
    width: 24px;
  }
  &.btn-primary {
    padding: 11px 19.5px;
  }
  &.btn-outline-primary {
    padding: 8px 16px;
    border-color: rgba($primary, 12%);
    &:hover{
      color: $primary;
      border-color: $primary;
    }
  }
}

// Typography

h1 {
  font-size: 52px;
  line-height: 72px;
  font-weight: 600;
  font-family: $poppins;
  color: $primary;
}
h2 {
  font-size: 48px;
  line-height: 64px;
  font-weight: 500;
  font-family: $poppins;
  color: $primary;
}

h3 {
  font-size: 36px;
  line-height: 40px;
  font-weight: 600;
  font-family: $poppins;
  color: $primary;
}

h4 {
  font-size: 26px;
  line-height: 36px;
  font-weight: 700;
  font-family: $poppins;
  color: $primary;
}

.primary-text {
  color: $primary;
}

a{
  display: inline-block;
  text-decoration: none;
}

// Input
.form-group {
  width: 100%;
  input, textarea {
    padding: 13px 16px;
    border: 1px solid $light-gray;
    border-radius: 8px;
    line-height: 1;
    transition: all 0.2s ease-in-out;
    width: 100%;
    &::placeholder {
      color: $gray;
    }
    &:focus-visible {
      outline: 0;
      border-color: $primary;
    }
    &:focus{
      box-shadow: none;
    }
    &:hover {
      border-color: $primary;
    }
  }
}

// Header Style
header{
  height: 100px;
  .header-wrapper{
    padding: 27px 0 24px;
    border-bottom: 1px solid $light-gray-200;
    &.fixed{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background-color: $white;
      box-shadow: 5px 0 10px rgba($black, 0.2);
      animation: slide-in 0.2s ease-in-out;
      z-index: 9999;
    }
    .wrapper{
      display: flex;
      align-items: center;
      justify-content: space-between;
      .logo-wrap{
        img{
          vertical-align: middle;
        }
      }
      nav{
        ul{
          display: flex;
          align-items: center;
          gap: 64px;
          li{
            a{
              color: $black;
              font-size: 22px;
              line-height: 28px;
              font-weight: 500;
            }
            .social-links{
              display: flex;
              align-items: center;
              gap: 16px;
              background-color: rgba($primary, 4%);
              padding: 8px 16px;
              border-radius: 8px;
              a{
                line-height: 1;
              }
            }
            &.close{
              button{
                height: 24px;
                width: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 6px;
                transition: all 0.2s ease-in-out;
                &:hover{
                  background-color: rgba($primary, 12%);
                }
              }
            }
          }
        }
      }
    }
  }
}

// Banner Style
.banner-section{
  padding: 48px 0 60px;
  h5{
    font-size: 24px;
    margin: 16px auto 28px;
    font-weight: 400;
    max-width: 600px;
    line-height: 38px;
    span{
      font-weight: 500;
    }
  }
  .form-wrapper{
    display: flex;
    align-items: center;
    gap: 12px;
    max-width: 485px;
    margin: 0 auto 12px;
  }
  .newsletter-desc{
    display: flex;
    gap: 8px;
    justify-content: center;
    .image-wrapper{
      min-width: 16px;
    }
  }
}

// Leading Company 
.leading-company-main{
  border-top: 1px solid rgba($primary, 12%);
  border-bottom: 1px solid rgba($primary, 12%);
  padding-bottom: 28px;
  margin-top: 17px;
  .chip{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 3px 12px;
    border: 1px solid rgba($primary, 12%);
    width: fit-content;
    margin: 0 auto;
    border-radius: 100px;
    transform: translateY(-50%);
    background-color: $white;
    font-family: $poppins;
    text-align: center;
    p{
      font-size: 18px;
      line-height: 26px;
      color: $primary;
    }
  }
  .compnies-main{
    display: flex;
    align-items: center;
    gap: 100px;
    width: fit-content;
    margin: 11px auto 0;
  }
}

// Growth hub 
.growth-hub-main{
  padding: 72px 0 59px;
  .nav-tabs{
    border-color: $light-gray-100;
    gap: 48px;
    margin-top: 12px;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    .nav-item{
      .nav-link{
        border: 0;
        border-radius: 0;
        padding: 10px 0;
        font-size: 24px;
        line-height: 32px;
        color: $primary;
        font-weight: 400;
        position: relative;
        overflow: hidden;
        text-transform: capitalize;
        &::after{
          content: "";
          position: absolute;
          bottom: 0;
          left: -100%;
          width: 100%;
          height: 3px;
          background-color: $primary;
          transition: all 0.2s ease-in-out;
        }
        &.active{
          font-weight: 500;
          &::after{
            left: 0;
          }
        }
      }
    }
  }
  .tags-row{
    margin: 20px 0 24px;
    display: flex;
    align-items: center;
    gap: 12px;
    overflow-x: auto;
    .tag{
      color: $primary;
      font-size: 19px;
      border: 1px solid rgba($primary, 12%);
      padding: 3px 12px;
      line-height: 26px;
      border-radius: 50px;
      transition: all 0.2s ease-in-out;
      white-space: nowrap;
      cursor: pointer;
      &:hover{
        border-color: $primary;
      }
      &.active{
        color: $white;
        background-color: $primary;
      }
    }
  }
  .tab-content{
    .single-card{
      position: relative;
      border-radius: 12px;
      overflow: hidden;
      max-height: 280px;
      .card-image{
        position: relative;
        img{
          vertical-align: bottom;
          width: 100%;
        }
        &::after{
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: linear-gradient(180deg, rgba(52, 52, 55, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
          border-radius: 12px;
          opacity: 0.9;
        }
      }
      .content{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        padding: 24px 20px;
        color: $white;
        p{
          font-size: 24px;
          line-height: 28px;
          margin-bottom: 8px;
          max-width: 95%;
          display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        span{
          font-size: 14px;
          line-height: 20px;
          background-color: rgba($black, 28%);
          padding: 2px 8px;
          display: inline-block;
          border-radius: 50px;
          text-transform: capitalize;
        }
      }
    }
    .btn-wrapper{
      border-top: 1px solid rgba($primary, 12%);
      margin-top: 45px;
      .btn{
        transform: translateY(-50%);
        margin: 0 auto;
        background-color: $white;
      }
    }
  }
}


// FOOTER
footer{
  padding-top: 68px;
  background-color: $primary;
  *{
    color: $white;
  }
  .desc{
    max-width: 431px;
    width: 100%;
    font-size: 18px;
    line-height: 24px;
    margin: 16px 0 24px;
  }
  .social-icons{
    img{
      margin-right: 24px;
      &:last-child{
        margin-right: 0;
      }
    }
  }
  .main-footer{
    padding-bottom: 40px;
    border-bottom: 1px solid rgba($white, 0.28);;
  }
  .links-wrapper{
    max-width: 365px;
    width: 100%;
    margin-left: auto;
    h5{
      font-size: 22px;
      font-weight: 600;
      line-height: 28px;
      margin-bottom: 16px;
    }
    p{
      display: flex;
      margin-bottom: 16px;
    }
    a{
      text-decoration: none;
      font-size: 18px;
      line-height: 24px;
    }
  }
  .copyright-footer{
    padding: 16px;
    p{
      font-size: 14px;
      span{
        font-size: 16px;
      }
    }
  }
}

// ABOUT US
.breadcumb{
  .text-disable{
    color: $light-gray-300;
  }
}
.about-section{
  padding: 40px 0 80px;
  .details{
    p{
      font-size: 18px;
      line-height: 32px;
      color: $black;
      margin-bottom: 30px;
      span{
        font-weight: 500;
      }
    }
  }
  .lg-heading{
    font-size: 56px;
    line-height: 64px;
    font-weight: 500;
    color: $black;
    margin-bottom: 24px;
    margin-top: 8px
  }
  .company-details{
    max-width: 280px;
    width: 100%;
    flex: none;
    margin-left: 48px;
    .profile{
      border-radius: 12px 12px 0 0;
      height: 260px;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
    .profile-summary{
      border: 1px solid $light-gray-200;
      border-top: 0;
      padding: 16px;
      border-radius: 0 0 12px 12px;
      h5{
        text-transform: uppercase;
        font-size: 14px;
        line-height: 26px;
        color: $light-gray-400;
        font-weight: 400;
        margin-bottom: 8px;
      }
      h6{
        line-height: 22px;
      }
      p{
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 12px;
        color: $gray;
      }
      a{
        display: inline-flex;
        align-items: center;
        font-size: 12px;
        color: $primary;
      }
    }
  }
}
.collaborate-form{
  padding: 24px 32px;
  border: 1px solid $light-gray-200;
  border-radius: 24px;
  .mail-icon{
    height: 40px;
    width: auto;
    margin-bottom: 12px;
  }
  h4{
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    margin-bottom: 16px;
  }
  textarea{
    height: 120px;
    line-height: 24px;
    resize: none;
  }
  .btn-primary{
    min-width: 164px;
  }
}


// Animation
@keyframes slide-in {
  from{
    transform: translateY(-100%);
  }
  to{
    transform: translateY(0);
  }
}